.avatar {
    width: 300px;
}
.button__link {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #495e57;
    margin-right: 15px;
}
.button__link:hover {
    transition: all .3s ease-in-out;
    background-color: #495e57;
    color: #f4ce14;
}
a:hover {
    color: black;
    transition: all .3s ease-in-out;
}
